<style>
  body {
      font-family: "Segoe UI", Verdana, sans-serif;
    font-size: 13pt;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #01161e;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
      /* color: #aec3b0; */
      color: #eff6e0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #eff6e0;
  }

  a {
    color: #ff9f1c;
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
      background-color: #022b40;
      font-size: 12pt;
  }

  pre code {
    color: #222;
    display: block;
    padding: 0px 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: #022b40;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #f2f2f2;
    color: #f2f2f2;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #fec89a;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eee;
    }

    a {
      color: #8cc2dd;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }

 .pagination {
     display: flex;
     justify-content: space-between;
     list-style: none;
     margin: 1em auto;
     padding: 0;
 }

 @media only screen and (min-width: 768px) {
     .pagination {
         width: 30%;
     }
 }

 .pagination > .page-item {
     border: 1px solid #ddd;
     flex: 1;
     text-align: center;
     width: 5em;
 }

 .pagination .page-link {
     display: block;
     color: #ff9f1c;
     text-decoration: none;
 }

 .pagination > .page-item.active {
     background-color: #faedcd;
 }

 .pagination > .page-item.active > .page-link {
     color: #01161e;
 }

 .pagination > .page-item.disabled > .page-link {
     color: #faedcd;
 }

 hr {
     border-top: 3px solid #eff6e0;
 }



</style>
