<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<style>
 body {
     font-family: "Fira Sans", monospace;
     font-size: 13pt;
     margin: auto;
     padding: 20px;
     max-width: 720px;
     text-align: left;
     background-color: #01161e;
     word-wrap: break-word;
     overflow-wrap: break-word;
     line-height: 1.5;
     /* color: #aec3b0; */
     color: #eff6e0;
 }

 h2.allpost {
     color: #eff6e0;
 }

 h2.site-title {
     color: #eff6e0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     /* color: #eff6e0; */
     color: #e3bc53;
 }

 strong,
 b {
     /* color: #e4c576;  */
     color: #eff6e0;
 }

 a {
      color: #e3bc53;
  }

 .title {
     text-decoration: none;
     border: 0;
 }

 .title span {
     font-weight: 400;
 }

 nav a {
     margin-right: 10px;
 }

 textarea {
     width: 100%;
     font-size: 16px;
 }

 input {
     font-size: 16px;
 }

 content {
     line-height: 1.6;
 }

 table {
     width: 100%;
 }

 img {
     max-width: 100%;
     border-radius: 4px;
 }

 code {
     padding: 2px 5px;
     /* background-color: #022b40; */
     background-color: #002e3d;
     font-size: 12pt;
     border-radius: 5px;
 }

 pre code {
     color: #123456;
     display: block;
     padding: 0px 20px;
     white-space: pre-wrap;
     font-size: 14px;
     overflow-x: auto;
 }

 div.highlight pre {
     background-color: initial;
     border-radius: 5px;
     color: initial;
 }

 div.highlight code {
     background-color: #002e3d;
     border-radius: 5px;
     color: unset;
 }

 blockquote {
     border-left: 1px solid #eae2b7;
     color: #eae2b7;
     padding-left: 20px;
     font-style: italic;
 }

 footer {
     padding: 25px;
     text-align: center;
 }

 .helptext {
     color: #777;
     font-size: small;
 }

 .errorlist {
     color: #eba613;
     font-size: small;
 }

 /* blog posts */
 ul.blog-posts {
     list-style-type: none;
     padding: unset;
 }

 ul.blog-posts li {
     display: flex;
 }

 ul.blog-posts li span {
     flex: 0 0 108px;
 }

 ul.blog-posts li a:visited {
     /* color: #fec89a; */
     color: #b2a684;
 }

 @media (prefers-color-scheme: dark) {
     body {
         background-color: #333;
         color: #ddd;
     }

     h1,
     h2,
     h3,
     h4,
     h5,
     h6,
     strong,
     b {
         color: #eee;
     }

     a {
         color: #8cc2dd;
     }

     code {
         background-color: #777;
     }

     pre code {
         color: #ddd;
     }

     blockquote {
         color: #ccc;
     }

     textarea,
     input {
         background-color: #252525;
         color: #ddd;
     }

     .helptext {
         color: #aaa;
     }
 }

 .pagination {
     display: flex;
     justify-content: space-between;
     list-style: none;
     margin: 1em auto;
     padding: 0;
 }

 @media only screen and (min-width: 768px) {
     .pagination {
         width: 30%;
     }
 }

 .pagination > .page-item {
     border: 1px solid #ddd;
     flex: 1;
     text-align: center;
     width: 5em;
 }

 .pagination .page-link {
     display: block;
     /* color: #ff9f1c; */
     color: #e3bc53;
     text-decoration: none;
 }

 .pagination > .page-item.active {
     background-color: #eff6e0;
 }

 .pagination > .page-item.active > .page-link {
     color: #01161e;
 }

 .pagination > .page-item.disabled > .page-link {
     color: #faedcd;
 }

 hr {
     display: block;
     height: 3px;
     border: 0;
     border-top: 3px solid #eff6e0;
     margin: 1em 0;
     padding: 0;
 }

</style>
