{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <b>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
    &nbsp | &nbsp Reading time: {{ math.Ceil (div (countwords .Content) 200.0) }} minute(s).
  </b>
</p>
{{ end }}{{ end }}
<hr>
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
<hr>
<div class="container">
    {{ if .Section }}
    <nav class="flex container suggested">
        {{ with .PrevInSection }}
        <span><b>Previous: </b></span>
        <a rel="prev" href="{{ .RelPermalink }}" title="Previous post (older)">
            
            {{ .Title }}
            </a>
        {{ end }}
        
        {{ with .NextInSection }}
        <span><b>Next: </b></span>
        <a rel="next" href="{{ .RelPermalink }}" title="Next post (newer)">
            {{ .Title }}
            </a> 
        {{ end }}
    </nav>
    {{ end }}
</div>
{{ end }}
